[submodule "third_party/CallGraph"]
	path = third_party/CallGraph
	url = https://github.com/bernardnongpoh/CallGraph.git
[submodule "callgraphs-generator"]
	path = callgraphs-generator
	url = https://github.com/zhyantao/callgraphs-generator.git
